@page "/"

<div class="background-grad p-5 m-5">
    <div class="alert alert-primary" role="alert">
        <h3 class="text-center">Author</h3>
    </div>

    <div class="d-grid gap-2">
        <input class="form-control form-control-lg" type="text" @bind="newAuthor" />
        <button class="btn btn-primary" @onclick="addAuthor">Add</button>
    </div>

    <hr />

    <ol class="list-group">
        @foreach (string Author in todoList)
        {
            <li class="list-group-item">
                @Author
                <button class="btn btn-danger btn-sm float-end" @onclick="(() => deleteAuthor(Author))">
                    <span class="oi oi-delete" />
                </button>
            </li>
        }
    </ol>
</div>

<style type="text/css">

.background-grad {
    background-color: #38598b;
    background-image: linear-gradient(160deg, #a2a8d3 0%,  #e7eaf6 100%);
}
    
</style>

@code {
    List<string> todoList = new() { "Author 1", "Author 2", "Author 3" };
    string newAuthor = "";

    void addAuthor()
    {
        if (string.IsNullOrWhiteSpace(newAuthor) == false)
        {
            todoList.Add(newAuthor);
            newAuthor = "";
        }
    }

    void deleteAuthor(string authorToDelete)
    {
        todoList.Remove(authorToDelete);
    }
}